{% extends "layout.twig" %}

{% block body %}
	
	<h1 class="text-center">Edit your article !</h1>


	<form action="" method="POST" enctype="multipart/form-data">

		<div class="form-group">
			<label for="">Title :</label>
			<input type="text" name="title" id="title" value="{{ article.title }}" class="form-control" >

			{% if formError.title %}
			<ul class="error"><li>{{ formError.title.message }}</li></ul>
			{% endif %}
		</div>
		

		<div class="form-group">
			<label for="">Catégorie :</label>
			<select name="category" id="" class="form-control">
				<option value="">Select your Category !</option>
				{% if categories %}
					{% for category in categories %}
				  		{% if category.title is same as(article.category) %}	<!--//si c'est la même chose on ajoute "selected" a option -->
					  	<option value="{{ category.title }}" selected>{{ category.title }}</option>
				  		{% else %}
					  	<option value="{{ category.title }}">{{ category.title }}</option> <!--si "else" on affiche l'option sans attribut selected-->
				  		{% endif %}
					{% endfor %}	 
			  	{% endif %}
			 </select>
		</div>

		<div class="form-group">
			<label for="">Content :</label>
			<textarea name="content" id="content" class="form-control" cols="30" rows="10">
				{{ article.content | raw }}
			</textarea>
			{% if formError.content %}
			<ul class="error"><li>{{ formError.content.message }}</li></ul>
			{% endif %}
		</div>

		<div class="form-group">
			<label for="">Image :</label>
			<input type="file" name="image" class="form-control">
			{% if formError.image %}
			<ul class="error"><li>{{ formError.image.message }}</li></ul>
			{% endif %}
		</div>
		<button class="btn btn-success mt-3">Edit Article</button>
	</form>



{% endblock %}
